<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
  <h1>Welcome to...</h1>
  <img th:src="@{/images/TacoCloud.jpg}">

  <div>
    <p >Please <a th:href="@{/register}">register</a> or <a th:href="@{/login}">login</a> to design your taco.</p>
  </div>
  <div>
      <form method="POST" th:action="@{/logout}">
        <input type="submit" value="logout">
      </form>

      <p><a th:href="@{/design}">Design</a> a new taco!</p>
  </div>



</body>
</html>